.page
    .hero-left
    .hero-left-bottom
    .hero-right
    .hero-right-bottom
    .cyber
        .cyber__center
            .cyber__center-text.
                Получите #[span 10 бонус] #[br]
                 на первый депозит #[br] с промокодом

            .cyber__center-bet
                a(href="" target="_blank").cyber__center-bet-btn сделать ставку
                a(href="" target="_blank").cyber__center-bet-btn регистрация

            .cyber__center-warning.
                 *ПРЕДЛОЖЕНИЕ РАЗОВОЕ И ДОСТУПНО ТОЛЬКО ДЛЯ СОВЕРШЕННОЛЕТНИХ ИГРОКОВ
    .footer
        .payment
           .footer__icons
               .footer__icons-webmoney
               .footer__icons-yandex
               .footer__icons-qiwi
               .footer__icons-skrill
               .footer__icons-neteller
               .footer__icons-visa
               .footer__icons-alipay
               .footer__icons-ecopayz
        .partner
            .partner-first
            .partner-second
            .partner-third
            .partner-fourth
        .text.
             GG.BET IS OPERATED BY BRIVIO LIMITED, A COMPANY REGISTERED IN THE REPUBLIC OF CYPRUS,
             WITH ITS PRINCIPAL PLACE OF BUSINESS AT: OFFICE 102, 12A LEKORPOUZIER, LIMASSOL, CYPRUS;
             REGISTRATION NUMBER: HE315596; VAT NUMBER 10315596B.
             ALL GAMBLING SERVICES ARE LICENSED BY INVICTA NETWORKS (LICENSE 8048/JAZ2012-009) N.V.,
             ADDRESS: E-COMMERCE PARK